/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* colors */
:root {
    --content-bg: #ffffff;
    --page-bg: #e9e9e9;
    --text-clr: #000000;
    --footer-bg: #14181d;
}

/* Defult: Small Mobile: 360px - 540px */
body {
    margin: 0;
    padding: 0;

    background-color: var(--page-bg); 

    /* defult font size */
    font-size: 1em; 
    font-family: "Josefin Sans", serif;
    /* transitions I just added to make the transitions to other sizes smooth */
    transition: 0.5s ease;
}


/* I wanted to try a technique i saw on yt where the css gets nested. It makes it look more organized for me */

/* HEADER */
header {
    background-color: var(--page-bg);

    display: flex;
    flex-direction: column;
    align-items: center;

    /* following the standard spacing, all mobile gaps, padding and margins are 12px */
    padding: 12px; 
    transition: 0.5s ease;

    .logo { /* CSS inside the header */
        width: 80px;
        height: 80px;
    
        margin-bottom: 12px;
        border-radius: 100%;
        transition: 0.5s ease;

        svg {
            width: 100%;
            height: 100%;
        }
    }
    .nav {
        display: flex;
        list-style: none;
        width: 100%;

        /* space evenly */
        justify-content: space-evenly;

        /* removes the defult padding of unordered lists */
        padding: 0;
        margin: 0;
        transition: 0.5s ease;
    }
}


.container {
    background-color: var(--content-bg);

    /* texts */
    p {
        font-size: 1em;
        padding: 12px;
        transition: 0.5s ease;
    }
    h1 {
        font-family: "Protest Guerrilla", sans-serif;
        text-align: center;
        /* defult font size * 3 */
        font-size: 3em;
        margin: 12px 0;
        transition: 0.5s ease;
    }

    /* gallery */
    .albums {
        width: 100vw;

        display: grid;

        /* Hide the big pic */
        .big-pic {
            display: none;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;

        transition: 0.5s ease;


        .author-img {
            width: 200px;
            height: 200px;

            margin-top: 12px;
            transition: 0.5s ease;
            
            img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
            }
        }

        .about-container {
            p {
                padding: 0 12px;
                transition: 0.5s ease;
            }
        }
    }

    footer {
        padding: 12px;
        border-top: solid black 1px;
        text-align: center;
        transition: 0.5s ease;
    
        p {
            padding: 0;
            margin: 0;
            transition: 0.5s ease;
        }
    }
    
}





/* MEDIA CSS */


/* Large Mobile: 540px - 720px */
@media (min-width: 540px) and (max-width: 720px) {

    /* not much changes in large moble except the standard spacing*/
    body {
        transition: 0.5s ease;
    }

    .container {
        /* texts */
        p {
            /* large mobile gaps, margins and padding is 20px */
            padding: 20px;
            transition: 0.5s ease;
        }
        h1 {
            font-family: "Protest Guerrilla", sans-serif;
            text-align: center;
            /* defult font size * 3 */
            font-size: 3em;
            margin: 20px 0;
            transition: 0.5s ease;
        }
        .about {
            .author-img {
                margin-top: 20px;
                transition: 0.5s ease;
            }
    
            .about-container {
                p {
                    padding: 0 20px;
                    transition: 0.5s ease;
                }
            }
        }    
        footer {
            padding: 20px;
            transition: 0.5s ease;
        }    
    }
    
}

/* Tablet: 720px - 1024px */
@media (min-width: 720px) and (max-width: 1024px) {
    /* tablet added a border and made the contents centre */
    body {
        background-color: var(--page-bg); 
        transition: 0.5s ease;
    }

    main {
        /* made the main contents in the centre using flex */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease;
    }

    .container {
        /* decreased the size to not take the whole width */
        width: 80%;
        /* added a small border like the wireframe */
        border: solid black 1.5px;
        transition: 0.5s ease;

        /* texts */
        p {
            padding: 0 30px;
            transition: 0.5s ease;
        }
        h1 {
            font-family: "Protest Guerrilla", sans-serif;
            text-align: center;
            /* defult font size * 3 */
            font-size: 3em;
            margin: 30px 0;
            transition: 0.5s ease;

        }

        /* gallery */
        .albums {
            width: 100%;

            /* the album covers changed to 4x4 */
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            transition: 0.5s ease;


            img {
                width: 100%;
                height: auto;
            }
        }

        .about {

            display: flex;

            flex-direction: row-reverse;
            align-items: end;
            justify-content: center;

            margin: 30px;
            transition: 0.5s ease;


            .author-img {
                margin: 0;

                width: 200px;
                height: 200px;
                transition: 0.5s ease;
                    
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                }
            }
    
            .about-container {
                width: 50vw;

                margin: 30px 0;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                transition: 0.5s ease;
                
                h1 {
                    margin: 0;
                    padding: 0;
                }

                p {
                    margin: 0px;
                    padding: 0;

                    padding: 0 30px;
                    transition: 0.5s ease;
                }
            }   
        } 
        
        footer {
            padding: 30px;
            transition: 0.5s ease;
        }
    }
}




/* Desktop: 1024px and up */
@media (min-width: 1024px) {
    body {
        background-color: var(--page-bg); 

        /* increased the defult font size for better readability */
        font-size: 1.5em;
        transition: 0.5s ease;
    }

    /* grid area keys for desktop */
    #album-1 {
        grid-area: album1;
    }
    #album-2 {
        grid-area: album2;
    }
    #album-3 {
        grid-area: album3;
    }
    #album-4 {
        grid-area: album4;
    }
    #album-5 {
        grid-area: album5;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease;
    }

    header {
        .logo { /* CSS inside the header */
            width: 200px;
            height: 200px;

            /* by standard spacing, the gaps, padding, and margins is now 50px */
            margin: 50px 0;
            transition: 0.5s ease;
        }

        .nav {
            font-size: 1em;

            margin-bottom: 50px;
            transition: 0.5s ease;
        }
    }

    .container {
        width: 80%;
        border: solid black 1.5px;
        transition: 0.5s ease;

        /* texts */
        p {
            padding: 0 30px;
            transition: 0.5s ease;
        }
        h1 {
            font-family: "Protest Guerrilla", sans-serif;
            text-align: left;
            /* defult font size * 3 */
            font-size: 3em;
            margin: 50px;
            transition: 0.5s ease;

            /* Biggwer tittle font size */
            span {
                font-size: 2.5em;
                transition: 0.5s ease;
            }
        }
        
        .title {
            margin: 50px 0px;
            /* texts defult*/
            p {
                /* cause the wireframe said so */
                width: 50%;

                padding: 0 50px;
                margin: 0;
                transition: 0.5s ease;
                text-align: left;

            }
            h1 {
                font-family: "Protest Guerrilla", sans-serif;
                text-align: left;
                /* defult font size * 3 */
                font-size: 3em;
                margin: 50px;
                transition: 0.5s ease;

                /* Biggwer tittle font size */
                span {
                    font-size: 2.5em;
                    transition: 0.5s ease;
                }
            }
        }

        /* grid */
        article {
            margin: 50px;
            column-count: 3; /* Create three columns */
            column-gap: 50px; /* Space between columns */
            transition: 0.5s ease;

            h1 {
                margin: 0;
                transition: 0.5s ease;
            }

            p {
    
                padding: 0;
                margin: 0;
                transition: 0.5s ease;
            }
        }



        /* gallery */
        .albums {
            width: 100%;

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);

            grid-template-areas: 
            'album1 album1 album2 album3'
            'album1 album1 album4 album5'
            ;

            transition: 0.5s ease;

            .big-pic {
                display: block;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .about {

            display: flex;

            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;

            margin: 50px;
            transition: 0.5s ease;


            .author-img {
                transition: 0.5s ease;
                margin: 0;

                width: 200px;
                height: 200px;
                    
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                }
            }
    
            .about-container {
                width: 50vw;

                margin: 50px 0;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                h1 {
                    margin: 0;
                    padding: 0;
                }

                p {
                    width: 70%;
                    margin: 0px;
                    padding: 0;

                    padding: 0 30px;
                    transition: 0.5s ease;
                }
            }   
        } 
        
        footer {
            padding: 50px;
            transition: 0.5s ease;
        }
    }
}
